<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/style/main.css" type="text/css" />
    <link href="/style/carosel.css" rel="stylesheet" />
    <title>Wok & Grill Admin</title>
</head>

<body>
    <!-- BootStrap Script Files -->
    <%- include('../partials/bootstrapScripts') %>

    <!-- Header Section -->
    <header><%- include('../partials/nav')%></header>

    <main>
        <!-- Title -->
        <h1>Admin Page</h1>
        <!-- Edit Menu And Items -->
        <ul>
            <li>
                <a class="nav-link" href="/menu/new">Create Menu</a>
                <a class="nav-link" href="/items/new">Create Items</a>
            </li>
        </ul>

        <!-- Table of Items -->
        <div class="container">
            <!-- Table Title -->
            <h2>Items</h2>
            <p>Click to Edit</p>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Include Items</th>
                </tr>
                <% for( let index = 0; index < allMenu.length; index++ ) { %>
                <tr>
                    <td><a href="/menu/<%= allMenu[index]._id %>/edit"><%= allMenu[index].name%></a></td>
                    <td> <% allMenu[index].items.forEach(item => { %>
                        <a href="/items/<%= item._id  %>/edit "><%= item.name %> </a><br>
                        <% }) %></td>
                </tr>
                <% } %>
            </table>
        </div>
        <div class="container">
            <!-- Table Title -->
            <h2>Comments</h2>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Name</th>
                    <th>Comment</th>
                    <th>Deleted</th>
                </tr>
                <% for( let index = 0; index < allComment.length; index++ ) { %>
                <tr>
                    <td><%= allComment[index].name%></td>
                    <td> <%= allComment[index].text%></td>
                    <td>
                        <form action="/comments/<%= allComment[index]._id %>?_method=DELETE" method="POST">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                <% } %>
            </table>
        </div>
        <div class="container">
            <!-- Table Title -->
            <h2>Office Hour</h2>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Day</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Update</th>
                </tr>
                <% for( let j = 0; j < day.length; j++ ) { %>
                <% for( let index = 0; index < allHour.length; index++ ) { %>
                <% if (allHour[index].day === day[j]) { %>
                <tr>
                    <form action="/hour/<%= allHour[index]._id %>?_method=PUT" method="POST">
                        <td><%= allHour[index].day%></td>
                        <td><input type="text" name="start" placeholder="<%= allHour[index].start%>"></td>
                        <td><input type="text" name="end" placeholder="<%= allHour[index].end%>"></td>
                        <td><input type="submit" value="Update"></td>
                    </form>
                </tr>
                <% } %>
                <% } %>
                <% } %>
            </table>
        </div>
        <div class="container">
            <!-- Table Title -->
            <h2>Home Page Slides</h2>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Image</th>
                    <th>Comment</th>
                    <th>Update</th>
                </tr>
                <% for( let index = 0; index < allSlide.length; index++ ) { %>
                <tr>
                    <form action="/slide/<%= allSlide[index]._id %>?_method=PUT" method="POST">
                        <td><input type="text" name="image" placeholder="<%= allSlide[index].image%>"></td>
                        <td><input type="text" name="comment" placeholder="<%= allSlide[index].comment%>"></td>
                        <td><input type="submit" value="Update"></td>
                    </form>
                </tr>
                <% } %>
            </table>
        </div>
    </main>


</body>

</html>