<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <link href="/style/carosel.css" rel="stylesheet">
    <title>Wok & Grill Comments wall</title>
</head>

<body>
    <!-- BootStrap Script Files -->
    <%- include('partials/bootstrapScripts') %>

    <!-- Header Section -->
    <header><%- include('partials/nav') %></header>

  <!-- Page Heading/Breadcrumbs -->
  <div class="container">
    <!-- Title -->
  <h1 class="mt-4 mb-3">
      Comment Wall
      <small></small>
  </h1>

  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a href="/">Home</a>
      </li>

      <li class="breadcrumb-item active">Comment Wall </li>

      <!-- Back Button -->
      <li class="breadcrumb-item">
          <a href="javascript:history.back()"> ... Previous Page</a>
      </li>
  </ol>





    <div class="container">

        <div class="row">
            
            <!-- Comment User Input -->
            <div class=" d-inline-block">
                <% if (user) { %>
                    <h4>Comment</h4>
                    <form action="/comments" method="POST" >
                        <textarea name="text" rows="3" cols="40"></textarea>
                        <input type="submit" value="Create" class="d-block">
                    </form>
                    <% } else {%>
                    <h4>Please sign in to comment</h4>
                    <% } %>
            </div>

            <!-- Stickys Notes List -->
            <% allComments.forEach(comment => { %>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text"><%= comment.text %></p>
                        <p><%= comment.name %></p>
                        <p><%= comment.date.getMonth() %>-<%= comment.date.getDate() %>-<%= comment.date.getFullYear() %>
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
            <!-- /.container -->
    </div>

    <!-- Delete Comment Disclaimer -->
    <p class="text-center">Owner has right to deleted unappropriated comments</p>

    <!-- Footer -->
    <%- include('partials/footer') %>

</body>

</html>