<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <link href="/style/carosel.css" rel="stylesheet">
    <title>Wok & Grill Comments wall</title>
</head>

<body>
    <!-- BootStrap Script Files -->
    <%- include('partials/bootstrapScripts') %>

    <!-- Header Section -->
    <header><%- include('partials/nav') %></header>

    <br />
    <h1>Comment wall</h1>
    <% if (user) { %>
    <h4>Comment</h4>
    <form action="/comments" method="POST">
        <textarea name="text" rows="3" cols="40"></textarea>
        <input type="submit" value="Create">
    </form>
    <% } else {%>
    <h4>Please sign in to comment</h4>
    <% } %>


    <div class="container">
        <div class="row">
            <% allComments.forEach(comment => { %>
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-body">
                        <p class="card-text"><%= comment.text %></p>
                        <p><%= comment.name %></p>
                        <p><%= comment.date.getMonth() %>-<%= comment.date.getDate() %>-<%= comment.date.getFullYear() %>
                        </p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <!-- /.container -->
    </div>
    <p>Owner has right to deleted unappropriated comments</p>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>