<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- Header Section -->
  <header>
    <!-- Title -->
    <h1><%= foundMenu.name %></h1>
    <!-- Navagation Bar -->
    <nav>
      <ul>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/items/new">Create New Item </a></li>
      </ul>
    </nav>
  </header>
  <br />

  <!-- Item Image -->
  <div>
    <img src="<%= foundMenu.image %> " alt="Menu picture" />
  </div>
  <br />
  <!-- Edit Button -->
  <form action="/menu/<%= foundMenu._id %>/edit " method="GET">
    <input type="submit" value="Edit" />
  </form>

  <!-- Delete Button -->
  <form action="/menu/<%= foundMenu._id %>?_method=DELETE " method="POST">
    <input type="submit" value="Delete" />
  </form>

  <!-- Item Listing -->
  <section>
    <!-- Number of Items -->
    <h2>Items</h2>
    <p>Number of Items: <%= foundMenu.items.length  %> </p>
    <% foundMenu.items.forEach(item => { %>
    <a href="/items/<%= item._id  %> "><%= item.name %> </a>
    <% }) %>
  </section>
</body>

</html>