<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/style/main.css" type="text/css">
    <link href="/style/carosel.css" rel="stylesheet">
    <title>Wok & Grill Menu Show page</title>
</head>

<body>
    <!-- BootStrap Script Files -->
    <%- include('../partials/bootstrapScripts') %>

    <!-- Header Section -->
    <header> 
      <%- include('../partials/nav') %>
      <div class="spacer-top"></div>
          <!-- Title -->
    <h1><%= foundMenu.name %></h1>
    </header>

  <br />

  <!-- Item Image -->
  <div>
    <img src="<%= foundMenu.image %> " alt="Menu picture" />
  </div>
  <br />
  <!-- Edit Button -->
  <form action="/menu/<%= foundMenu._id %>/edit " method="GET">
    <input type="submit" value="Edit" />
  </form>

  <!-- Delete Button -->
  <form action="/menu/<%= foundMenu._id %>?_method=DELETE " method="POST">
    <input type="submit" value="Delete" />
  </form>

  <!-- Item Listing -->
  <section>
    <!-- Number of Items -->
    <h2>Items</h2>
    <p>Number of Items: <%= foundMenu.items.length  %> </p>
    <% foundMenu.items.forEach(item => { %>
    <a href="/items/<%= item._id  %> "><%= item.name %> </a>
    <% }) %>
  </section>
</body>

</html>