<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Items</title>
</head>

<body>
  <!-- Header Section -->
  <header>
    <!-- Title -->
    <h1>Dish</h1>
    <!-- Navagation Bar -->
    <%- include ('../partials/nav') %>

  </header>

  <!-- Dish Contents-->
  <main>
    <div class="item-container">
      <!-- Item Name -->
      <h3><%= item.name %></h3>
      <!-- Item Picture -->
      <img src="item.image" alt="item image" />
      <!-- Price -->
      <p>Price: <%= item.price %></p>
      <!-- Spiciness -->
      <p>Spicy: <%= item.spicy %></p>
      <!-- Description -->
      <p><%= item.description %></p>
    </div>
    <!-- delete -->
    <form action="/items/<%= item._id %>?_method=DELETE" method="POST"><input type="submit" value="Delete"></form>
  </main>
</body>

</html>